(function () {
    if (!window.fdApp) {
        window.fdApp = {};
    }
    window.fdApp.dataStorage ={{.}};

    if (window.fdApp.preFillSearchForm) {
        window.fdApp.preFillSearchForm();
    }

})();